<% layout('layouts/boilerplate') -%>
<body>
<div class="row">
  <div class="col-8 offset-2">
    <br>
    <h2>Create new listing</h2>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Hotel name</label>
        <input name="listing[title]" placeholder="Enter your hotel name" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid title</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter description" class="form-control" required>
        </textarea>
        <div class="invalid-feedback">Please enter a valid description</div>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input name="listing[image]" placeholder="Enter image URL/link" class="form-control" type="file" required>
    </div>
    <div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="1500" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid price</div>
    </div>
     <div class="mb-3 col-md-8">
    <label for="category" class="form-label">Category</label>
    <select name="listing[category]" class="form-select" required>
      <option value="" disabled selected>Select category</option>
      <option value="Luxury">Luxury</option>
      <option value="Budget-Friendly">Budget-Friendly</option>
      <option value="Family-Friendly">Family-Friendly</option>
      <option value="Romantic Getaways">Romantic Getaways</option>
      <option value="Pet-Friendly">Pet-Friendly</option>
      <option value="Nature & Adventure">Nature & Adventure</option>
      <option value="Hill Station">Hill Station</option>
      <option value="Beachfront Stays">Beachfront Stays</option>
    </select>
    <div class="invalid-feedback">Please select a valid category</div>
  </div>

       <div class="mb-3 col-md-4">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Vadodara, Gujarat" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid location</div>
    </div>
     <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="India" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid country</div>
    </div>
     <!--  -->
   
  </div>
  
        <button class="btn btn-danger rounded-pill px-4 py-2 mb-3"> add </button>
        <br>
    </form>
  </div>
</div>
</body>
